<% content_for :specific_css_js do %>
		<%= stylesheet_link_tag "main/faq", :media => "all" %>
        <%= javascript_include_tag 'main/faq' %>
<% end %>

		<div class="teacher_faq_main">
			<div class="teacher_faq_main_1">
			
				<p>よくある質問</p>
						
			</div>
			
			<div class="teacher_faq_main_2">
			
                <div class="teacher_faq_each">
			         
                     <div class="teacher_faq_each_question">
			         
			             <p class="question">質問はありますか？ありません。じゃあ帰ってください。小宮サル</p>
				
			         </div>		
			         
                     <div class="teacher_faq_each_answer">
			         
			             <p class="answer">うらうらうらうらうらうらうらう鑑真とかなつかしいいいいいいいいい。よく日本きたなあああああああああああ開国やあああああああああああああ。いらっしゃあああああああああああああああああああああああああああああああああああああああああああああああああああああああああい！</p>
				
			         </div>						
			     </div>
			     
			     <div class="teacher_faq_each">
			         
                     <div class="teacher_faq_each_question">
			         
			             <p class="question">質問はありますか？ありません。じゃあ帰ってください。小宮サル</p>
				
			         </div>		
			         
                     <div class="teacher_faq_each_answer">
			         
			             <p class="answer">うらうらうらうらうらうらうらう鑑真とかなつかしいいいいいいいいい。よく日本きたなあああああああああああ開国やあああああああああああああ。いらっしゃあああああああああああああああああああああああああああああああああああああああああああああああああああああああああい！</p>
				
			         </div>						
			     </div>
			     
			     <div class="teacher_faq_each">
			         
                     <div class="teacher_faq_each_question">
			         
			             <p class="question">質問はありますか？ありません。じゃあ帰ってください。小宮サル</p>
				
			         </div>		
			         
                     <div class="teacher_faq_each_answer">
			         
			             <p class="answer">うらうらうらうらうらうらうらう鑑真とかなつかしいいいいいいいいい。よく日本きたなあああああああああああ開国やあああああああああああああ。いらっしゃあああああああああああああああああああああああああああああああああああああああああああああああああああああああああい！</p>
				
			         </div>						
			     </div>
			     
			     <div class="teacher_faq_each">
			         
                     <div class="teacher_faq_each_question">
			         
			             <p class="question">質問はありますか？ありません。じゃあ帰ってください。小宮サル</p>
				
			         </div>		
			         
                     <div class="teacher_faq_each_answer">
			         
			             <p class="answer">うらうらうらうらうらうらうらう鑑真とかなつかしいいいいいいいいい。よく日本きたなあああああああああああ開国やあああああああああああああ。いらっしゃあああああああああああああああああああああああああああああああああああああああああああああああああああああああああい！</p>
				
			         </div>						
			     </div>
			     
			     <div class="teacher_faq_each">
			         
                     <div class="teacher_faq_each_question">
			         
			             <p class="question">質問はありますか？ありません。じゃあ帰ってください。小宮サル</p>
				
			         </div>		
			         
                     <div class="teacher_faq_each_answer">
			         
			             <p class="answer">うらうらうらうらうらうらうらう鑑真とかなつかしいいいいいいいいい。よく日本きたなあああああああああああ開国やあああああああああああああ。いらっしゃあああああああああああああああああああああああああああああああああああああああああああああああああああああああああい！</p>
				
			         </div>						
			     </div>
			     
			     <div class="teacher_faq_each">
			         
                     <div class="teacher_faq_each_question">
			         
			             <p class="question">質問はありますか？ありません。じゃあ帰ってください。小宮サル</p>
				
			         </div>		
			         
                     <div class="teacher_faq_each_answer">
			         
			             <p class="answer">うらうらうらうらうらうらうらう鑑真とかなつかしいいいいいいいいい。よく日本きたなあああああああああああ開国やあああああああああああああ。いらっしゃあああああああああああああああああああああああああああああああああああああああああああああああああああああああああい！</p>
				
			         </div>						
			     </div>
			     
			     <div class="teacher_faq_each">
			         
                     <div class="teacher_faq_each_question">
			         
			             <p class="question">質問はありますか？ありません。じゃあ帰ってください。小宮サル</p>
				
			         </div>		
			         
                     <div class="teacher_faq_each_answer">
			         
			             <p class="answer">うらうらうらうらうらうらうらう鑑真とかなつかしいいいいいいいいい。よく日本きたなあああああああああああ開国やあああああああああああああ。いらっしゃあああああああああああああああああああああああああああああああああああああああああああああああああああああああああい！</p>
				
			         </div>						
			     </div>
			     
			     <div class="teacher_faq_each">
			         
                     <div class="teacher_faq_each_question">
			         
			             <p class="question">質問はありますか？ありません。じゃあ帰ってください。小宮サル</p>
				
			         </div>		
			         
                     <div class="teacher_faq_each_answer">
			         
			             <p class="answer">うらうらうらうらうらうらうらう鑑真とかなつかしいいいいいいいいい。よく日本きたなあああああああああああ開国やあああああああああああああ。いらっしゃあああああああああああああああああああああああああああああああああああああああああああああああああああああああああい！</p>
				
			         </div>						
			     </div>
			     
			     <div class="teacher_faq_each">
			         
                     <div class="teacher_faq_each_question">
			         
			             <p class="question">質問はありますか？ありません。じゃあ帰ってください。小宮サル</p>
				
			         </div>		
			         
                     <div class="teacher_faq_each_answer">
			         
			             <p class="answer">うらうらうらうらうらうらうらう鑑真とかなつかしいいいいいいいいい。よく日本きたなあああああああああああ開国やあああああああああああああ。いらっしゃあああああああああああああああああああああああああああああああああああああああああああああああああああああああああい！</p>
				
			         </div>						
			     </div>
			     
			     <div class="teacher_faq_each">
			         
                     <div class="teacher_faq_each_question">
			         
			             <p class="question">質問はありますか？ありません。じゃあ帰ってください。小宮サル</p>
				
			         </div>		
			         
                     <div class="teacher_faq_each_answer">
			         
			             <p class="answer">うらうらうらうらうらうらうらう鑑真とかなつかしいいいいいいいいい。よく日本きたなあああああああああああ開国やあああああああああああああ。いらっしゃあああああああああああああああああああああああああああああああああああああああああああああああああああああああああい！</p>
				
			         </div>						
			     </div>
			     
			     <div class="teacher_faq_each">
			         
                     <div class="teacher_faq_each_question">
			         
			             <p class="question">質問はありますか？ありません。じゃあ帰ってください。小宮サル</p>
				
			         </div>		
			         
                     <div class="teacher_faq_each_answer">
			         
			             <p class="answer">うらうらうらうらうらうらうらう鑑真とかなつかしいいいいいいいいい。よく日本きたなあああああああああああ開国やあああああああああああああ。いらっしゃあああああああああああああああああああああああああああああああああああああああああああああああああああああああああい！</p>
				
			         </div>						
			     </div>
			     
			     <div class="teacher_faq_each">
			         
                     <div class="teacher_faq_each_question">
			         
			             <p class="question">質問はありますか？ありません。じゃあ帰ってください。小宮サル</p>
				
			         </div>		
			         
                     <div class="teacher_faq_each_answer">
			         
			             <p class="answer">うらうらうらうらうらうらうらう鑑真とかなつかしいいいいいいいいい。よく日本きたなあああああああああああ開国やあああああああああああああ。いらっしゃあああああああああああああああああああああああああああああああああああああああああああああああああああああああああい！</p>
				
			         </div>						
			     </div>
				
			</div>
			

		</div>

<!--トップに戻る開始----------------------------------------------------------------------------->
		
		<div class="back-to-top">
		
			<a class="back-to-top-word" href="#">Back to top</a>
		
		</div>

<!--トップに戻る終了（共通：変えないこと）------------------------------------------------------>
<!-- フッター開始（共通：変えないこと）--------------------------------------------------------->
         <footer id="footer">
      		
      		<div class="footer-logo">
       			 Progate
      		</div>
      

      		<div class="footer-list">
        		<ul>
          			<li>会社概要</li>
          			<li>採用</li>
          			<li>お問い合わせ</li>
        		</ul>
      		</div>
    	</footer>
    	
<!-- フッター終了（共通：変えないこと）--------------------------------------------------------->

    