<!DOCTYPE html>
    <html>
    
    <head>
        <meta charset="utf-8">
        <title>GANJIN</title>
        <link rel="stylesheet" href="teacher_edit_profile.css">
        <link rel="stylesheet" href="C:\Users\kento\Desktop\our servise/css/font-awesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		 <%= stylesheet_link_tag "main/teacher_faq", :media => "all" %>
         <%= javascript_include_tag 'main/teacher_faq' %>
	</head>
    
    <body>
    
<!--ヘッダー開始（共通：変えないこと）------------------------------------------------------------------->   
        <header>
            <div class="container">
                <div class="header-left">
                    <a class="logout" href="file:///C:/Users/kento/Desktop/our%20servise/main.html">
                    <img class="logo" src="https://prog-8.com/images/html/advanced/main_logo.png">
                    </a>
                
                        <input type="text" id="user" placeholder="Username" class="input1">
                        
                        <span class="fa fa-search fa-2x"></span>
                                        
                </div>
                
 
                
                 <div class="header-right">
                    
                
                	<ul id="normal" class="dropmenu">

						

						<li><a href="#"><span class="fa fa-cog"></a>

  					 		 <ul>

   							   <li><a href="#">プロフィール編集</a></li>

    							  <li><a href="#">アカウント情報編集</a></li>

     							 <li><a href="#">よくあるお問い合わせ</a></li>

     							 <li><a href="#" id="logout-show">ログアウト</a></li>

   							 </ul>

  						</li>
  						
  						<li><a href="#"><span class="fa fa-envelope"></a></li>
  						
  						<li><a href="#"><span class="fa fa-bell"></a></li>
  						
  						<li><a href="#"><span class="fa fa-user"></a></li>
  						
  						<li><a href="#">My page</a></li>
					</ul>
                                            
                   
          	  </div>
        </header>
        
        
        <!--ログアウトモーダル開始------------------------------------------------------>   

        	<div class="logout-modal-wrapper" id="logout-modal">
    			<div class="modal">
    				 <div class="close-modal">
        				<i class="fa fa-2x fa-times"></i>
      			     </div>
      				
      				 <div id="logout-form">
        				<h2>ログアウトしますか？</h2>
        				<form action="#">
          					<div id="submit-btn1">はい</div>
          					<a id="submit-btn2"  href="#">いいえ</a>
       					 </form>
      				</div>
    			</div>
			</div>

        <!--ログアウトモーダル終了------------------------------------------------------>   
        
        
<!--ヘッダー終了（共通：変えないこと）--------------------------------------------------->   <!--main開始------------------------------------------------------------------------------------->   
		<div class="teacher_faq_main">
			<div class="teacher_faq_main_1">
			
				<p>よくある質問</p>
						
			</div>
			
			<div class="teacher_faq_main_2">
			
                <div class="teacher_faq_each">
			         
                     <div class="teacher_faq_each_question">
			         
			             <p class="question">質問はありますか？ありません。じゃあ帰ってください。小宮サル</p>
				
			         </div>		
			         
                     <div class="teacher_faq_each_answer">
			         
			             <p class="answer">うらうらうらうらうらうらうらう鑑真とかなつかしいいいいいいいいい。よく日本きたなあああああああああああ開国やあああああああああああああ。いらっしゃあああああああああああああああああああああああああああああああああああああああああああああああああああああああああい！</p>
				
			         </div>						
			     </div>
			     
			     <div class="teacher_faq_each">
			         
                     <div class="teacher_faq_each_question">
			         
			             <p class="question">質問はありますか？ありません。じゃあ帰ってください。小宮サル</p>
				
			         </div>		
			         
                     <div class="teacher_faq_each_answer">
			         
			             <p class="answer">うらうらうらうらうらうらうらう鑑真とかなつかしいいいいいいいいい。よく日本きたなあああああああああああ開国やあああああああああああああ。いらっしゃあああああああああああああああああああああああああああああああああああああああああああああああああああああああああい！</p>
				
			         </div>						
			     </div>
			     
			     <div class="teacher_faq_each">
			         
                     <div class="teacher_faq_each_question">
			         
			             <p class="question">質問はありますか？ありません。じゃあ帰ってください。小宮サル</p>
				
			         </div>		
			         
                     <div class="teacher_faq_each_answer">
			         
			             <p class="answer">うらうらうらうらうらうらうらう鑑真とかなつかしいいいいいいいいい。よく日本きたなあああああああああああ開国やあああああああああああああ。いらっしゃあああああああああああああああああああああああああああああああああああああああああああああああああああああああああい！</p>
				
			         </div>						
			     </div>
			     
			     <div class="teacher_faq_each">
			         
                     <div class="teacher_faq_each_question">
			         
			             <p class="question">質問はありますか？ありません。じゃあ帰ってください。小宮サル</p>
				
			         </div>		
			         
                     <div class="teacher_faq_each_answer">
			         
			             <p class="answer">うらうらうらうらうらうらうらう鑑真とかなつかしいいいいいいいいい。よく日本きたなあああああああああああ開国やあああああああああああああ。いらっしゃあああああああああああああああああああああああああああああああああああああああああああああああああああああああああい！</p>
				
			         </div>						
			     </div>
			     
			     <div class="teacher_faq_each">
			         
                     <div class="teacher_faq_each_question">
			         
			             <p class="question">質問はありますか？ありません。じゃあ帰ってください。小宮サル</p>
				
			         </div>		
			         
                     <div class="teacher_faq_each_answer">
			         
			             <p class="answer">うらうらうらうらうらうらうらう鑑真とかなつかしいいいいいいいいい。よく日本きたなあああああああああああ開国やあああああああああああああ。いらっしゃあああああああああああああああああああああああああああああああああああああああああああああああああああああああああい！</p>
				
			         </div>						
			     </div>
			     
			     <div class="teacher_faq_each">
			         
                     <div class="teacher_faq_each_question">
			         
			             <p class="question">質問はありますか？ありません。じゃあ帰ってください。小宮サル</p>
				
			         </div>		
			         
                     <div class="teacher_faq_each_answer">
			         
			             <p class="answer">うらうらうらうらうらうらうらう鑑真とかなつかしいいいいいいいいい。よく日本きたなあああああああああああ開国やあああああああああああああ。いらっしゃあああああああああああああああああああああああああああああああああああああああああああああああああああああああああい！</p>
				
			         </div>						
			     </div>
			     
			     <div class="teacher_faq_each">
			         
                     <div class="teacher_faq_each_question">
			         
			             <p class="question">質問はありますか？ありません。じゃあ帰ってください。小宮サル</p>
				
			         </div>		
			         
                     <div class="teacher_faq_each_answer">
			         
			             <p class="answer">うらうらうらうらうらうらうらう鑑真とかなつかしいいいいいいいいい。よく日本きたなあああああああああああ開国やあああああああああああああ。いらっしゃあああああああああああああああああああああああああああああああああああああああああああああああああああああああああい！</p>
				
			         </div>						
			     </div>
			     
			     <div class="teacher_faq_each">
			         
                     <div class="teacher_faq_each_question">
			         
			             <p class="question">質問はありますか？ありません。じゃあ帰ってください。小宮サル</p>
				
			         </div>		
			         
                     <div class="teacher_faq_each_answer">
			         
			             <p class="answer">うらうらうらうらうらうらうらう鑑真とかなつかしいいいいいいいいい。よく日本きたなあああああああああああ開国やあああああああああああああ。いらっしゃあああああああああああああああああああああああああああああああああああああああああああああああああああああああああい！</p>
				
			         </div>						
			     </div>
			     
			     <div class="teacher_faq_each">
			         
                     <div class="teacher_faq_each_question">
			         
			             <p class="question">質問はありますか？ありません。じゃあ帰ってください。小宮サル</p>
				
			         </div>		
			         
                     <div class="teacher_faq_each_answer">
			         
			             <p class="answer">うらうらうらうらうらうらうらう鑑真とかなつかしいいいいいいいいい。よく日本きたなあああああああああああ開国やあああああああああああああ。いらっしゃあああああああああああああああああああああああああああああああああああああああああああああああああああああああああい！</p>
				
			         </div>						
			     </div>
			     
			     <div class="teacher_faq_each">
			         
                     <div class="teacher_faq_each_question">
			         
			             <p class="question">質問はありますか？ありません。じゃあ帰ってください。小宮サル</p>
				
			         </div>		
			         
                     <div class="teacher_faq_each_answer">
			         
			             <p class="answer">うらうらうらうらうらうらうらう鑑真とかなつかしいいいいいいいいい。よく日本きたなあああああああああああ開国やあああああああああああああ。いらっしゃあああああああああああああああああああああああああああああああああああああああああああああああああああああああああい！</p>
				
			         </div>						
			     </div>
			     
			     <div class="teacher_faq_each">
			         
                     <div class="teacher_faq_each_question">
			         
			             <p class="question">質問はありますか？ありません。じゃあ帰ってください。小宮サル</p>
				
			         </div>		
			         
                     <div class="teacher_faq_each_answer">
			         
			             <p class="answer">うらうらうらうらうらうらうらう鑑真とかなつかしいいいいいいいいい。よく日本きたなあああああああああああ開国やあああああああああああああ。いらっしゃあああああああああああああああああああああああああああああああああああああああああああああああああああああああああい！</p>
				
			         </div>						
			     </div>
			     
			     <div class="teacher_faq_each">
			         
                     <div class="teacher_faq_each_question">
			         
			             <p class="question">質問はありますか？ありません。じゃあ帰ってください。小宮サル</p>
				
			         </div>		
			         
                     <div class="teacher_faq_each_answer">
			         
			             <p class="answer">うらうらうらうらうらうらうらう鑑真とかなつかしいいいいいいいいい。よく日本きたなあああああああああああ開国やあああああああああああああ。いらっしゃあああああああああああああああああああああああああああああああああああああああああああああああああああああああああい！</p>
				
			         </div>						
			     </div>
				
			</div>
			

		</div>

<!--トップに戻る開始----------------------------------------------------------------------------->
		
		<div class="back-to-top">
		
			<a class="back-to-top-word" href="#">Back to top</a>
		
		</div>

<!--トップに戻る終了（共通：変えないこと）------------------------------------------------------>
<!-- フッター開始（共通：変えないこと）--------------------------------------------------------->
         <footer id="footer">
      		
      		<div class="footer-logo">
       			 Progate
      		</div>
      

      		<div class="footer-list">
        		<ul>
          			<li>会社概要</li>
          			<li>採用</li>
          			<li>お問い合わせ</li>
        		</ul>
      		</div>
    	</footer>
    	
<!-- フッター終了（共通：変えないこと）--------------------------------------------------------->

		
    </body>
    </html>
    
    