body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
  font-family: 'Open Sans', Arial, sans-serif;
  font-family:"Meiryo UI" , "メイリオ" , Meiryo ,Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" ,  "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;



}

a {
  text-decoration: none;
}


	
.edit_profile_main{

border:solid rgba(34, 49, 52, 0.3) 1px;
height:500px;
width:50%;
margin:10px auto;
 text-align: center;
 border-radius: 3px  3px;
 margin-top:100px;
   font-family:"Meiryo UI" , "メイリオ" , Meiryo ,Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" ,  "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;

}

.edit_profile_main_1{
border:solid rgba(34, 49, 52, 0.3) 1px;
height:50px;
width:100%;
 text-align: left;
 margin-bottom:10px;
}

.edit_profile_main_2{
border:solid rgba(34, 49, 52, 0) 1px;
height:330px;
width:85%;
margin:5px auto;
}


.edit_profile_main_2_right{
border:none;/*solid rgba(34, 49, 52, 0.3) 1px;*/
height:300px;
width:32%;
float:right;
}
.edit_profile_main_3{
border:none;/*solid rgba(34, 49, 52, 0.3) 1px;*/
height:100px;
width:100%;
 text-align: center;
 margin-top: 20px;
}

.edit_profile_main_1 p{
font-size:20px;
line-height:50px;
  padding:0 25px;
margin-top:0px;

}

.register{
border:none;/*solid rgba(34, 49, 52, 0.3) 1px;*/
height:40px;
width:100%;
text-align:left;
line-height:40px;
box-sizing:border-box;
}

.register_password_change{
    margin-top:20px;
   
    text-align: left;
}

.register-left{
border:solid rgba(34, 49, 52, 0.1) 1px;
height:40px;
width:29%;
text-align:left;
line-height:40px;
box-sizing:border-box;
float:left;
margin-left:5%;
padding-left:3%;
}

.register-right{
border:solid rgba(34, 49, 52, 0.1) 1px;
height:40px;
width:66%;
text-align:left;
box-sizing:border-box;
float:left;
margin:0px 0px;
padding:0px 0px;
position:relative;
color:black;
}

.input{
height:25px;
border-radius: 3px  3px;
line-height:40px;
margin:0px 10px;
padding:0px 0px;
width:45%;
position:absolute;
top:5px;
display:inline-block;
}

.input2{
height:25px;
border-radius: 3px  3px;
line-height:40px;
margin:0px 0px;
padding:0px 0px;
width:45%;
position:absolute;
top:5px;
display:inline-block;
}
.input22{
height:25px;
border-radius: 3px  3px;
line-height:40px;
margin:0px 0px;
padding:0px 0px;
width:20%;
position:absolute;
top:5px;
display:inline-block;
}

.select{
border-radius: 3px  3px;
height:25px;

}


.btn{
  padding-top:8px;
  padding-bottom:8px;
  padding-left:24px;
  
  color:white;
  display:inline-block;
  opacity:0.8;
  border-radius:4px;
  width:55%;
box-sizing:border-box;
text-align:left;
display:block;

}

 .btn:hover{
  cursor: pointer;

}


.btn:hover{
  opacity:1
}

.fa{
  font-size:10px;
  margin-right:5px;
}

.explain{

width:96%;
text-align:left;
margin-top:0px;
font-size:12px;

}

.explain2{


margin-top:10px;
font-size:15px;

}

.btn1{
  padding:8px 24px;
    background-color:#239b76;
  color:white;
  display:inline-block;
  opacity:0.8;
  border-radius:4px;
  width:60%;
box-sizing:border-box;
text-align:center;
  font-family:"Meiryo UI" , "メイリオ" , Meiryo ,Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" ,  "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;


}

 .btn1:hover{
  cursor: pointer;

}





/*--メイン終了---------------------------------------------------------------------------------*/   






/*back to top開始（共通：変えないこと）--------------------------------------------------------*/

.back-to-top{
  width:100%;
  height:50px;
  background-color:rgba(34, 49, 52, 0.6);
  text-align:center;
  line-height:50px;
    color:white;
    display:block;

  transition:all 0.5s;
  margin-top:0px;
  position:absolute;
  top:700px;

}

.back-to-top:hover{
  background-color:rgba(34, 49, 52, 0.4);
}

.back-to-top-word{

 color:white;
 display:block;
 
}

/*back to top終了（共通：変えないこと）--------------------------------------------------------*/
/*<フッター開始（共通：変えないこと）---------------------------------------------------------*/
footer{
  background-color:rgba(34, 49, 52, 0.9);
  height: 270px;
  width:100%;
  color:white;
  position:absolute;
  top:750px;
  
}
  
/*フッター終了（共通：変えないこと）-------------------------------------------------------*/
