<% content_for :specific_css_js do %>
		<%= stylesheet_link_tag "users/logout", :media => "all" %>
<% end %>

<!--入力画面開始----------------------------------------------------------------------------------------->   
		<div class="logout_main">
			
				<p class="title">ログアウトしました。</p>
						
				<a class="to-top btn">ganjinトップページに戻る</a><br>
				
				<a class="close">閉じる</a>
				
		</div>
		
<!--入力画面終了----------------------------------------------------------------------------------------->   
	
		
		<!--<script src="Landing.js"></script>-->
	