<html>
   <head>
      <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
   </head>
   
   <body>
      <h1>Welcome to ganjin.com </h1>
      
      <p>6 digit number: <%= @token %> <br></p>
      
   </body>
</html>