<html>
	
	<head>
		<meta charset="utf-8">
		<title>SAMURAI</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<%= stylesheet_link_tag 'user/pass_forgot2', :media => "all" %>
	</head>
	
	<body>
		<header>
			<div class="container">
				<div class="header-left">
					<!--<img class="logo" src="https://prog-8.com/images/html/advanced/main_logo.png">-->
				  <%= link_to(image_tag("https://prog-8.com/images/html/advanced/main_logo.png"),"/user/top" ,class:"logo") %>				
				  </div>
				
				<div class="header-right">
            		<div class="login1" id="login-show">ログイン</div>
           		</div>
           		
           		<div class="header-right">
            		<a class="login" >日本語を教える</a>
           		</div>		
           			
           			
			</div>
						
		</header>
		
		<div class="inputbox">
		
			<h1 class="IDpass_sixnum">６桁の認証番号を入力してください。</h1>
			
			<h2 class="IDpass_sixnum_explain">入力頂いたメールアドレスまたは電話番号に６桁の認証番号をお送り致しました。</h2>

		
			<input class="input-email" type="text"  placeholder="６桁の認証番号 ">
			
			<!--<input class="check" type="submit" value="次へ進む"> -->
		    <%= link_to("submit","/user/top" ,class:"check") %>
		    <!--<span class="IDpass_send_again">再送する</span> -->
			<%= link_to("再送する","/user/pass_forgot2" ,class:"IDpass_send_again") %>
		</div>
		
	
		
		<script src="Landing.js"></script>
	
	</body>
	</html>