body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
  font-family: 'Open Sans', Arial, sans-serif;
  font-family:"Meiryo UI" , "メイリオ" , Meiryo ,Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" ,  "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;



}

a {
  text-decoration: none;
}

/*--メイン開始---------------------------------------------------------------------------------*/   
	
.student_write_review_main{

border:solid rgba(34, 49, 52, 0.2) 1px;
margin-top:70px;
width:50%;
margin:10px auto;
 text-align: center;
 border-radius: 3px  3px;
 margin-top:100px;
   font-family:"Meiryo UI" , "メイリオ" , Meiryo ,Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" ,  "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;

margin-bottom:30px;
}

.student_write_review_main_1{
border:solid rgba(34, 49, 52, 0.3) 1px;
height:50px;
width:100%;
 text-align: left;
 margin-bottom:10px;
 border-top:none;
 border-left:none;
 border-right:none;
 margin-bottom:20px;
}

.student_write_review_main_2{
border:solid rgba(34, 49, 52, 0.1) 1px;
display:inline-block;
width:85%;
margin:5px auto;
}



.student_write_review_main_3{
border:solid rgba(34, 49, 52, 0.3) 1px;
height:100px;
width:85%;
 text-align: left;
 margin:5px auto;
 margin-top:0px;
}

.student_write_review_main_3_left{
  border:solid rgba(34, 49, 52, 0.1) 1px;  
  width: 30%;
  margin-right:0;
  display:inline-block;
  box-sizing:border-box;
}

.student_write_review_main_3_right{
  border:solid rgba(34, 49, 52, 0.1) 1px;  
  width: 69%;
  margin-left:0;
  display:inline-block;
  font-size:30px;
  text-align:left;

  box-sizing:border-box;
}

.student_write_review_main_1 p{
font-size:20px;
line-height:50px;
  padding:0 25px;
margin-top:0px;

}


.fa{
  font-size:10px;
  margin-right:5px;
}



.student_write_review_main_2_left{
	width:20%;
	border:none;/*solid rgba(34, 49, 52, 0.9) 1px;*/
	float:left;	
	height:150px;
text-align:center;
display:inline-block;
margin:0 10px;
}

.student_write_review_main_2_center{
	width:77%;
	border:none;/*solid rgba(34, 49, 52, 0.9) 1px;*/
	float:left;	
	height:150px;
	display:inline-block;
}

.teacher-name{
color:#3b5998;
font-size:30px;
margin-top:5px;
margin-bottom:1%;
margin-left:1%;

}

.Profile-photo-teacher{
width:100%;
border-radius:100px;

}

.date, .time, .teacher-name{
margin-top:2px;
margin-bottom:0px;
}

.teacher-name, .date, .from{
text-align:left;    
}

.date{
font-size:20px;
margin-left:10px;
margin-top:5px;
width:40%;

}

.hour{
font-size:20px;

width:30%;
text-align:left;
margin-left:10px;
padding-left:0px;
margin-bottom:0px;

}

.from, .note{
margin-top:2px;
font-size:15px;
margin-left:10px;}

.note{
background-color:rgba(34, 49, 52, 0.1);
margin-left:0px;
padding-left:10px;
padding-right:10px;
width:60%;
margin: 0 auto;
margin-top:0px;
}

.btn{
  	padding:8px 24px;
  	color:white;
  	display:inline-block;
  	width:65%;
  	border-radius:4px;

}

.btn:hover{
  opacity:1
}

.check-teacher{
	background: #b5cd60;
	margin-top:15px;
	text-align:center;
}

.cancel{
	background: rgba(255, 0, 0, 0.6);
	margin-top:5px;
	text-align:center;
}

.rating-pointer-1 {
    width: 60px;
    height: 20px;
    position: relative;
    background: red;
    color:white;
    text-align:center;
    font-size:12px;
border-radius:5px;
display:inline-block;
margin-right:15px;

  }

.rating-pointer-2 {
    width: 60px;
    height: 20px;
    position: relative;
    background: blue;
    color:white;
    text-align:center;
    font-size:12px;
border-radius:5px;
display:inline-block;
margin-right:15px;
display:none;

  }
  
  .rating-pointer-1- {
    width: 60px;
    height: 20px;
    position: relative;
    background: red;
    color:white;
    text-align:center;
    font-size:12px;
border-radius:5px;
display:inline-block;
margin-right:15px;

  }

.rating-pointer-2- {
    width: 60px;
    height: 20px;
    position: relative;
    background: blue;
    color:white;
    text-align:center;
    font-size:12px;
border-radius:5px;
display:inline-block;
margin-right:15px;
display:none;

  }

.rating, .rating-1, .rating-2, .rating-3, .rating-4, .rating-5{
font-size:15px;

display:inline-block;
margin-left:10px;

}
.rating-1, .rating-2, .rating-3, .rating-4, .rating-5{
 display:none;   
}


.star-1, .star-2, .star-3, .star-4, .star-5{
    display:inline-block;
    margin:0 0;
    padding:0 0;
    width:25px;
    font-size:40px;
    color:gray;
    -webkit-text-stroke: 2px rgba(169, 169, 169, 0.3);
}

    

.star-1, .star-2, .star-3, .star-4, .star-5:hover{
  
  cursor:pointer;  
}




.review_honbun{
    width:90%;
    margin:2px auto;
    height:200px;
    margin-bottom:0px;
}

.table-left{
    padding-left:10px;
    width:30%;
}

.table-right{
    padding-left:10px;
    width:70%;
}

.count-words{
    margin-top:2px;
    margin-bottom:2px;
}

.input3{
  background: #b5cd60;
  border: none;
  width: 160px;
  margin-top:10px;
  margin-bottom:10px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  padding:15px 10px;
}
.input3:hover {
  background: #16aa56;
}
/*--メイン終了---------------------------------------------------------------------------------*/   






/*back to top開始（共通：変えないこと）--------------------------------------------------------*/

.back-to-top{
  width:100%;
  height:50px;
  background-color:rgba(34, 49, 52, 0.6);
  text-align:center;
  line-height:50px;
    color:white;
    display:block;

  transition:all 0.5s;
  margin-top:0px;
  position:absolute;
  top:700px;

}

.back-to-top:hover{
  background-color:rgba(34, 49, 52, 0.4);
}

.back-to-top-word{

 color:white;
 display:block;
 
}

/*back to top終了（共通：変えないこと）--------------------------------------------------------*/
/*<フッター開始（共通：変えないこと）---------------------------------------------------------*/
footer{
  background-color:rgba(34, 49, 52, 0.9);
  height: 270px;
  width:100%;
  color:white;
  position:absolute;
  top:750px;
  
}
  
/*フッター終了（共通：変えないこと）-------------------------------------------------------*/
