body {
  margin: 0;
  font-family:"Meiryo UI" , "メイリオ" , Meiryo ,Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" ,  "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
}

a {
  text-decoration: none;
}

header{
  position:static;
}
/*
  header font in users_layout.scss
*/
.inputbox{

border:solid rgba(34, 49, 52, 0.3) 1px;
height:300px;
width:20%;
margin:10px auto;
 text-align: center;
 border-radius: 3px  3px;


}

.IDpass_title{
width:75%;
font-size:20px;
font-weight: 100;
margin:10px auto;
text-align: left;

}

.input-email{
height:30px;
width:75%;
font-size:15px;
font-weight: 100;
margin:10px auto;
text-align: left;
border-radius: 3px  3px;
  font-family:"Meiryo UI" , "メイリオ" , Meiryo ,Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" ,  "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;

}

.check{
width:75%;
font-size:20px;
font-weight: 100;
margin:10px auto;
border-radius: 3px  3px;
  font-family:"Meiryo UI" , "メイリオ" , Meiryo ,Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" ,  "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
  background: #b5cd60;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  height:35px;
  color:white;
}

.check:hover {
  background: #16aa56;
}
