body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}
header{
  position:fixed;
}

/*
    header font in users_layout.scss
*/
.top-wrapper{
  padding: 180px 0 100px 0;
  background-image: url("/conversation.jpg");
  background-size:cover;
  color:white;
  height:500px;
  text-align:center;
}

.btn{
  padding:8px 24px;
  color:white;
  display:inline-block;
  opacity:0.8;
  border-radius:4px;

}

.btn:hover{
  cursor: pointer;

}

.sign-up{
  background-color:#239b76;
}

.facebook{
  background-color:#3b5998;
  margin-right:10px;
}

.twitter{
  background-color:#55acee;
}

.btn:hover{
  opacity:1
}

.fa{
  font-size:10px;
  margin-right:5px;
}

.new{
padding-top:0;
color:white;
height:65px;
}

.login-model-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  /* display: none;‚ð’Ç‰Á‚µ‚Ä‚­‚¾‚³‚¢ */
  display:none;
}

.model {
  position: absolute;
  top: 20%;
  left: 34%;
  background-color: #e6ecf0;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 450px;
  height: auto;
  text-align: center;
}

.fa-times {
  position: absolute;
  top: 12px;
  right: 12px;
  color: rgba(128, 128, 128, 0.46);
  cursor: pointer;
}

.signup-model-wrapper {
  display:none;
}

#signup-form, #login-form {
  width: 100%;
}

#signup-form h2, #login-form h2 {
  color: #5f5d60;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

#signup-form input, #login-form input {
  width: 320px;
  margin-bottom: 20px;
  font-size: 15px;
  padding: 12px 12px;
  border: 1px solid #d0d5d8;
  border-radius: 5px;
}


#submit-btn {
  display: inline-block;
  padding: 14px 140px;
  background-color: #5dca88;
  border: none;
  border-radius: 3px;
  color: white;
  margin: 10px auto;
  cursor: pointer;
}

.idpass-forget{
 text-decoration: underline;
 color:black;
}

flash{
    color:white;
}
