@charset "UTF-8";
/* line 1, /home/ubuntu/workspace/app/assets/stylesheets/main/faq.scss */
body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
  font-family: 'Open Sans', Arial, sans-serif;
  font-family: "Meiryo UI" , "メイリオ" , Meiryo ,Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" ,  "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
}

/* line 11, /home/ubuntu/workspace/app/assets/stylesheets/main/faq.scss */
a {
  text-decoration: none;
}

/*ヘッダー開始（共通　変えないこと）-------------------------------------------------------------------------------------------------*/
/* line 16, /home/ubuntu/workspace/app/assets/stylesheets/main/faq.scss */
header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
}

/* line 25, /home/ubuntu/workspace/app/assets/stylesheets/main/faq.scss */
.logo {
  width: 124px;
  margin-top: 20px;
  float: left;
}

/* line 31, /home/ubuntu/workspace/app/assets/stylesheets/main/faq.scss */
.mypage {
  color: white;
  text-align: center;
}

/* line 36, /home/ubuntu/workspace/app/assets/stylesheets/main/faq.scss */
.logout {
  color: white;
}

/* line 40, /home/ubuntu/workspace/app/assets/stylesheets/main/faq.scss */
.header-left {
  float: left;
}

/* line 48, /home/ubuntu/workspace/app/assets/stylesheets/main/faq.scss */
.input1 {
  background-color: white;
  border: none;
  border-radius: 3px  3px;
  color: #a9a9a9;
  margin: 15px 0;
  padding: 0 16px;
  width: 300px;
  height: 30px;
  float: left;
  margin-left: 10px;
}

/* line 60, /home/ubuntu/workspace/app/assets/stylesheets/main/faq.scss */
.fa-search {
  background-color: none;
  border-radius: 3px 0px 0px 3px;
  border-right: 3px solid #434a52;
  color: #606468;
  display: block;
  line-height: 65px;
  text-align: center;
  width: 50px;
  height: 35px;
  margin-top: 15px;
}

/* line 74, /home/ubuntu/workspace/app/assets/stylesheets/main/faq.scss */
.top-wrapper {
  padding: 0 0 0 0;
  background-size: cover;
  color: white;
  height: 500px;
  text-align: center;
}

/* line 82, /home/ubuntu/workspace/app/assets/stylesheets/main/faq.scss */
.header-right {
  float: right;
  /*background-color:rgba(255, 255, 255, 0.3);*/
  display: block;
  line-height: 65px;
  padding: 0 25px;
  transition: all 0.5s;
}

/* line 92, /home/ubuntu/workspace/app/assets/stylesheets/main/faq.scss */
.dropmenu {
  *zoom: 1;
  list-style-type: none;
  margin: 0px auto 30px;
  padding: 0;
  margin-right: 0px;
  position: relative;
}

/* line 100, /home/ubuntu/workspace/app/assets/stylesheets/main/faq.scss */
.dropmenu:before, .dropmenu:after {
  content: "";
  display: table;
}

/* line 104, /home/ubuntu/workspace/app/assets/stylesheets/main/faq.scss */
.dropmenu:after {
  clear: both;
}

/* line 107, /home/ubuntu/workspace/app/assets/stylesheets/main/faq.scss */
.dropmenu li {
  float: right;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* line 115, /home/ubuntu/workspace/app/assets/stylesheets/main/faq.scss */
.dropmenu li a {
  display: block;
  margin: 0;
  background: none;
  color: #fff;
  width: 65px;
  padding: 0 10px;
  transition: all 0.5s;
  text-decoration: none;
  margin-right: 0px;
  font-size: 15px;
}

/* line 128, /home/ubuntu/workspace/app/assets/stylesheets/main/faq.scss */
.dropmenu li a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* line 133, /home/ubuntu/workspace/app/assets/stylesheets/main/faq.scss */
.dropmenu li ul {
  list-style: none;
  position: absolute;
  top: 65px;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: visible;
}

/* line 143, /home/ubuntu/workspace/app/assets/stylesheets/main/faq.scss */
.dropmenu li ul li {
  width: 280px;
}

/* line 147, /home/ubuntu/workspace/app/assets/stylesheets/main/faq.scss */
.dropmenu li ul li a {
  padding: 3px 15px;
  background: rgba(34, 49, 52, 0.9);
  text-align: left;
  width: 280px;
  font-family: "Meiryo UI" , "メイリオ" , Meiryo ,Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" ,  "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
}

/* line 156, /home/ubuntu/workspace/app/assets/stylesheets/main/faq.scss */
.dropmenu li ul li:hover {
  background-color: rgba(34, 49, 52, 0.9);
}

/* line 161, /home/ubuntu/workspace/app/assets/stylesheets/main/faq.scss */
#normal li ul {
  display: none;
}

/* line 164, /home/ubuntu/workspace/app/assets/stylesheets/main/faq.scss */
#normal li:hover ul {
  display: block;
}

/* line 168, /home/ubuntu/workspace/app/assets/stylesheets/main/faq.scss */
.fa {
  font-size: 10px;
  margin-right: 5px;
}

/*--ログアウトモーダル開始---------------------------------------------------------------------------------*/
/* line 175, /home/ubuntu/workspace/app/assets/stylesheets/main/faq.scss */
.logout-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  /* display: none;を追加してください */
  display: none;
}

/* line 187, /home/ubuntu/workspace/app/assets/stylesheets/main/faq.scss */
.modal {
  position: absolute;
  top: 20%;
  left: 34%;
  background-color: #e6ecf0;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 450px;
  height: auto;
  text-align: center;
}

/* line 199, /home/ubuntu/workspace/app/assets/stylesheets/main/faq.scss */
.fa-times {
  position: absolute;
  top: 12px;
  right: 12px;
  color: rgba(128, 128, 128, 0.46);
  cursor: pointer;
}

/* line 207, /home/ubuntu/workspace/app/assets/stylesheets/main/faq.scss */
#logout-form {
  width: 100%;
}

/* line 211, /home/ubuntu/workspace/app/assets/stylesheets/main/faq.scss */
#logout-form h2 {
  color: #5f5d60;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

/* line 219, /home/ubuntu/workspace/app/assets/stylesheets/main/faq.scss */
#submit-btn1, #submit-btn2 {
  display: inline-block;
  padding: 14px 140px;
  background-color: #5dca88;
  border: none;
  border-radius: 3px;
  color: white;
  margin: 10px auto;
  cursor: pointer;
  width: 30%;
}

/* line 231, /home/ubuntu/workspace/app/assets/stylesheets/main/faq.scss */
.idpass-forget {
  text-decoration: underline;
}

/*--ログアウトモーダル終了---------------------------------------------------------------------------------*/
/*ヘッダー終了（共通　変えないこと）-------------------------------------------------------------------------------------------------*/
/* line 242, /home/ubuntu/workspace/app/assets/stylesheets/main/faq.scss */
.teacher_faq_main {
  border: solid rgba(34, 49, 52, 0.2) 1px;
  width: 50%;
  margin: 10px auto;
  text-align: center;
  border-radius: 3px  3px;
  margin-top: 100px;
  font-family: "Meiryo UI" , "メイリオ" , Meiryo ,Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" ,  "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
  margin-bottom: 30px;
}

/* line 256, /home/ubuntu/workspace/app/assets/stylesheets/main/faq.scss */
.teacher_faq_main_1 {
  border: solid rgba(34, 49, 52, 0.2) 1px;
  height: 50px;
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 20px;
}

/* line 268, /home/ubuntu/workspace/app/assets/stylesheets/main/faq.scss */
.teacher_faq_main_2 {
  border: solid rgba(34, 49, 52, 0) 1px;
  width: 85%;
  margin: 5px auto;
}

/* line 277, /home/ubuntu/workspace/app/assets/stylesheets/main/faq.scss */
.teacher_faq_main_3 {
  border: none;
  /*solid rgba(34, 49, 52, 0.3) 1px;*/
  height: 100px;
  width: 100%;
  text-align: center;
}

/* line 284, /home/ubuntu/workspace/app/assets/stylesheets/main/faq.scss */
.teacher_faq_main_1 p {
  font-size: 20px;
  line-height: 50px;
  padding: 0 25px;
  margin-top: 0px;
}

/* line 293, /home/ubuntu/workspace/app/assets/stylesheets/main/faq.scss */
.fa {
  font-size: 10px;
  margin-right: 5px;
}

/* line 299, /home/ubuntu/workspace/app/assets/stylesheets/main/faq.scss */
.teacher_faq_each {
  width: 100%;
  border: none;
  /*solid rgba(34, 49, 52, 0.3) 1px;*/
  margin-bottom: 15px;
}

/* line 305, /home/ubuntu/workspace/app/assets/stylesheets/main/faq.scss */
.teacher_faq_each_question {
  width: 100%;
  border: none;
  /*solid rgba(34, 49, 52, 0.3) 1px;*/
  text-align: left;
  background-color: rgba(34, 49, 52, 0.1);
  padding-left: 15px;
  font-size: 20px;
  box-sizing: border-box;
  padding: 2px 0px;
  border-radius: 5px 5px 0 0;
}

/* line 317, /home/ubuntu/workspace/app/assets/stylesheets/main/faq.scss */
.teacher_faq_each_answer {
  width: 100%;
  margin: 0px auto;
  border: solid rgba(34, 49, 52, 0.1) 1px;
  font-size: 15px;
  text-align: left;
  box-sizing: border-box;
  border-radius: 0 0 5px 5px;
}

/* line 328, /home/ubuntu/workspace/app/assets/stylesheets/main/faq.scss */
.question {
  padding-left: 15px;
  margin-top: 1%;
  margin-bottom: 1%;
}

/* line 334, /home/ubuntu/workspace/app/assets/stylesheets/main/faq.scss */
.answer {
  padding-left: 15px;
  margin-top: 1%;
  margin-bottom: 1%;
  box-sizing: border-box;
}

/*--メイン終了---------------------------------------------------------------------------------*/
/*back to top開始（共通：変えないこと）--------------------------------------------------------*/
/* line 354, /home/ubuntu/workspace/app/assets/stylesheets/main/faq.scss */
.back-to-top {
  width: 100%;
  height: 50px;
  background-color: rgba(34, 49, 52, 0.6);
  text-align: center;
  line-height: 50px;
  color: white;
  display: block;
  transition: all 0.5s;
  margin-top: 0px;
}

/* line 369, /home/ubuntu/workspace/app/assets/stylesheets/main/faq.scss */
.back-to-top:hover {
  background-color: rgba(34, 49, 52, 0.4);
}

/* line 373, /home/ubuntu/workspace/app/assets/stylesheets/main/faq.scss */
.back-to-top-word {
  color: white;
  display: block;
}

/*back to top終了（共通：変えないこと）--------------------------------------------------------*/
/*<フッター開始（共通：変えないこと）---------------------------------------------------------*/
/* line 384, /home/ubuntu/workspace/app/assets/stylesheets/main/faq.scss */
footer {
  background-color: rgba(34, 49, 52, 0.9);
  height: 270px;
  width: 100%;
  color: white;
}

/*フッター終了（共通：変えないこと）-------------------------------------------------------*/
