<!DOCTYPE html>
<html>
<head>
  <title>Ganjin</title>
  <%= stylesheet_link_tag    "application", media: 'all', 'data-turbolinks-track' => true %>
  
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  	<%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>