<!--<html>-->
<!--	<head>-->
<!--		<meta charset="utf-8">-->
<!--		<title>SAMURAI</title>-->
<!--		<%= stylesheet_link_tag 'users/users_layout', :media => "all" %>-->
<!--		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>-->
<!--		<%= yield :specific_css_js %>-->
<!--		<%= csrf_meta_tags %>-->
<!--	</head>-->
	
<!--	<body>-->
<!--ヘッダー開始（共通：変えないこと）------------------------------------------------------------------->   
<!--		<header>-->
<!--			<div class="container">-->
<!--				<div class="header-left">-->
<!--					<img class="logo" src="https://prog-8.com/images/html/advanced/main_logo.png">-->
<!--				</div>-->
				
<!--				<div class="header-right">-->
<!--            		<div class="login1" id="login-show">ログイン</div>-->
<!--           		</div>-->
           		
<!--           		<div class="header-right">-->
<!--            		<a class="login">日本語を教える</a>-->
<!--           		</div>		-->
           			
           			
<!--			</div>-->
<!--		</header>-->
		
<!--		<%= yield %>-->

<!--	</body>-->

<!--</html>-->
		